.footer {
  background-color: var(--dark-black);
  color: var(--white);

  @include desktop {
    padding: 65px 0 141px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;

    @include tablet {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__text,
  &__menu,
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include desktop {
      width: auto;
    }

    &:not(:first-child) {
      li:first-child {
        color: var(--grey);
        margin-bottom: 30px;
      }
    }
  }

  &__menu,
  &__social,
  &__contacts {
    @include tablet {
      width: fit-content;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      max-width: 446px;
    }
  }

  &__text-description {
    color: var(--grey);
  }

  &__contacts {
    order: 3;

    @include tablet {
      order: 4;
    }
  }

  &__btn {
    order: 5;

    &.footer {
      &__btn-desk {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }

    &.footer {
      &__btn-mob {
        display: flex;
      }
    }
  }

  &__contacts-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .p-2 {
      margin: 0 16px;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    order: 4;

    @include tablet {
      flex-direction: column;
      order: 3;
    }

    li:first-child {
      display: none;
      margin-bottom: 30px;
      color: var(--grey);

      @include tablet {
        display: block;
      }
    }
  }

  &__social-item {
    &:first-child {
      display: none;
    }
  }

  &__social-icon {
    font-size: 24px;
    line-height: 24px;
    color: var(--grey);

    @include tablet {
      display: none;
    }
  }

  &__social-text {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}

.footer-bottom {
  background-color: #1a1a1a;
  padding: 16px 0;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    span {
      color: var(--white);
    }

    a {
      color: #828282;
    }
  }
}
