.footer {
  background-color: var(--dark-black);
  color: var(--white);

  @include desktop {
    padding: 65px 0 141px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include desktop {
      width: auto;
    }

    &:first-child {
      @include desktop {
        max-width: 446px;
      }
    }

    &:not(:first-child) {
      li:first-child {
        color: var(--grey);
        margin-bottom: 30px;
      }
    }
  }

  &__contacts-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
      margin-top: 30px;
    }
  }
}

.footer-bottom {
  background-color: #1a1a1a;
  padding: 16px 0;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    span {
      color: var(--white);
    }

    a {
      color: #828282;
    }
  }
}
