@import "../media";

.hero {
  position: relative;
  background: url("../../assets/img/hero-bg.jpg") no-repeat 50% 50% / cover;
  padding-top: 150px;
  padding-bottom: 186px;

  @include mobile {
    padding-top: 200px;
    padding-bottom: 174px;
  }

  @include tablet {
    padding-top: 260px;
    padding-bottom: 340px;
  }

  @include desktop {
    padding-top: 224px;
    padding-bottom: 176px;
    background: url("../../assets/img/hero-bg-lg.jpg") no-repeat 50% 50% / cover;
  }

  .container {
    height: 100%;
  }

  &__content {
    color: var(--white);
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 720px;

    @include mobile {
      max-width: 500px;
    }

    @include tablet {
      max-width: 740px;
    }

    @include desktop {
      max-width: 970px;
    }
  }

  &__description {
    display: none;
    color: var(--medium-grey);
    margin: 30px 0 60px;

    @include mobile {
      display: block;
      max-width: 450px;
    }

    @include tablet {
      max-width: 800px;
      margin: 40px 0 80px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 40px;

    @include mobile {
      margin-top: 0;
      width: fit-content;
    }
  }

  .section {
    &__circle {
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      z-index: 100;
      transition: var(--animation);

      @include mobile {
        width: 140px;
        height: 140px;
        bottom: -70px;
      }

      @include tablet {
        bottom: 80px;
      }

      @include desktop {
        width: 181px;
        height: 181px;
        bottom: 120px;
        transform: none;
        right: calc((100vw - 1290px) / 2);
        left: auto;
      }
    }
  }
}
