.popup-mini {
  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--white);
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    width: 100%;
    background-color: var(--white);

    @include media-custom(660px) {
      max-width: 600px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: url("../assets/img/popup-mini/bg.jpg") no-repeat 50% 50% / cover;
    width: 100%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url("../assets/img/popup-mini/bg@2x.jpg") no-repeat 50% 50% / cover;
    }

    @include media-custom(660px) {
      padding: 40px;
    }

    img {
      width: 50px;
      height: auto;

      @include media-custom(660px) {
        width: 82px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 30px;
  }

  &__text {
    margin: 16px 0 34px;
    color: var(--grey);
  }
}
