.testimonials {
  background: var(--light-grey) url("../assets/img/fish.svg") no-repeat 50% 100% /
    contain;
  padding: 60px 0;

  @include tablet {
    padding: 90px 0;
  }

  @include desktop {
    padding: 120px 0;
  }

  &__title {
    max-width: 85%;
    width: 100%;

    @include desktop {
      text-align: center;
    }
  }

  &__list {
    margin: 30px 0;
    background-color: transparent;

    @include mobile {
      margin: 60px 0;
    }

    @include desktop {
      margin: 90px 0;
    }
  }

  &__item {
    background-color: var(--white);
    padding: 24px;
    display: flex;
    flex-direction: column;
    max-width: 288px;
    width: 100%;
    justify-content: space-between;
    min-height: 320px;

    @include mobile {
      margin-right: 20px;
      max-width: 360px;
    }

    @include tablet {
      max-width: 520px;
    }
  }

  &__item-content {
    flex: 1 0 auto;
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__item-text {
    color: var(--dark-black);
    //margin-bottom: 60px;
  }

  &__item-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .testimonials__item {
    display: flex;
    justify-content: space-between;
    min-height: 320px;
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  &__author-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    text-transform: capitalize;
    color: var(--dark-black);

    @include desktop {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__author-info {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
    color: var(--grey);

    @include tablet {
      font-size: 14px;
      line-height: 1.57;
    }
  }
}
