@import "vars";
@import "media";

.btn {
  font-family: var(--font-family), sans-serif;
  text-transform: capitalize;
  color: var(--white);
  padding: 15px 32px;
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include mobile {
    line-height: 1.29;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.25;
  }

  &_primary {
    border: 1px solid var(--main-purple);
    background-color: var(--main-purple);
  }

  &_primary-green {
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    color: var(--dark-black);
  }

  &_secondary {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
  }

  &_secondary-black {
    border: 1px solid var(--dark-black);
    background-color: transparent;
    color: var(--dark-black);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  &__icon-arrow {
    width: 20px;
    height: 20px;
    color: var(--white);
    fill: var(--white);
    stroke: var(--white);
  }

  &__icon-calendar {
    background: url("../assets/icons/calendar.svg") no-repeat 50% 50% / contain;
  }
}
