@import "media";
@import "buttons";
@import "vars";

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family), sans-serif;
  background: var(--main-color);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.img,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.text-color {
  color: var(--main-green);
}

.swiper-button-disabled {
  opacity: 0.2;
}

mark {
  background-color: var(--main-green-50);
  padding: 0 2px;
}

a {
  cursor: pointer;
}

input,
textarea,
button,
select {
  outline: none;
}

.elem-action {
  a {
    display: inline-flex;
  }
}

//.section {
//  padding: 60px 0;
//}

.wrapper {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include tablet {
    max-width: 750px;
    padding: 0 15px;
  }

  @include desktop {
    max-width: 1290px;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

//.footer {
//  padding: 3rem 0;
//  font-size: 1.6rem;
//
//  a {
//    text-decoration: none;
//    color: var(--brand-color);
//    transition: 0.2s ease;
//    &:hover {
//      color: var(--brand-light-color);
//    }
//  }
//}
