<footer class="footer">
  <div class="container"></div>
</footer>
<div class="mobile-menu" id="mobMenu">
  <div class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Portfolio</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Services</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">About Us</a>
      </li>
    </ul>
    <ul class="btn__list">
      <li class="btn__item">
        <a href="#" class="btn btn_primary">
          <span class="btn__text">Contact Us</span>
          <span class="btn__icon btn__icon-arrow"></span>
        </a>
      </li>
      <li class="btn__item">
        <a href="#" class="btn btn_secondary">
          <span class="btn__icon btn__icon-calendar"></span>
          <span class="btn__text">Schedule a Meeting</span>
        </a>
      </li>
    </ul>
  </div>
</div>
