<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">Transforming <span class="text-color">Ideas</span> into reality</h1>
      <p class="hero__description p-1">
        Welcome to a place where creativity meets innovation. Our expert team is dedicated to crafting compelling
        websites, enhancing your brand, and creating impactful solutions to elevate your business.
      </p>
      <a href="#" class="btn btn_primary hero__btn">
        <span class="btn__text">Let’s Discuss Your Project</span>
        <span class="btn__icon btn__icon-arrow">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </span>
      </a>
    </div>
    <div class="section__circle">
      <img class="stamp" src="./assets/img/stamp_btn.svg" alt="icon" />
      <img class="stamp-arr" src="./assets/img/stamp-arr.svg" alt="icon" />
    </div>
  </div>
</section>
